<h1>Customer Detail</h1>
<!-- TODO:  -->

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Birth Date</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Check-in</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">1</th>
      <td><%= @customer.first_name%></td>
      <td><%= @customer.last_name%></td>
      <td><%= @customer.birth_date%></td>
      <td><%= @customer.email%></td>
      <td><%= @customer.phone_num%></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Check-in
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% @customer.checkins.each do |checkin|%>
            <%= link_to(checkin.date.strftime("%F"), checkin_path(checkin), :class => "dropdown-item")%>
            <% end%>
          </div>
        </div>
      </td>
    </tr>


  </tbody>
</table>