<h1>Check-in System</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Customer</th>
      <th scope="col">Technician</th>
      <th scope="col">Services</th>
    </tr>
  </thead>
  <tbody>
    <% count = 0%>
    <% @checkins.each do |checkin|%>
    <tr>
      <% count +=1 %>
      <th scope="row"><%= count%></th>
      <td><%= checkin.date%></td>
      <td><a
          href="customers/<%= checkin.customers[0].id %>"><%= checkin.customers[0].first_name + ' ' + checkin.customers[0].last_name%></a>
      </td>
      <td>
        <% checkin.technicians.each do |technician|%>
        <%= technician.name + ' ,'%>
        <% end %>
      </td>
      <td>
        <% checkin.services.each do |service|%>
        <%= service.name + ' ,'%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>